{% extends "base.html" %}
{% block title %}{% if asset %}Edit{% else %}Create{% endif %} Asset{% endblock %}

{% block content %}

<div class="form-card">
  <h2>{% if asset %}Edit{% else %}Create{% endif %} Asset</h2>
  <form method="post" enctype="multipart/form-data" class="asset-form">
    {% csrf_token %}
<br><br>
    <label>Name</label>
    <input type="text" name="name" value="{{ asset.name|default:'' }}" required>
<br><br>
    <label>Asset Tag</label>
    <input type="text" name="asset_tag" value="{{ asset.asset_tag|default:'' }}" required>
<br><br>
    <label>Category</label>
    <input type="text" name="category" value="{{ asset.category|default:'' }}">
<br><br>
    <label>Status</label>
    <select name="status" required>
      <option value="">Select Status</option>
      {% for value, label in status_choices %}
        <option value="{{ value }}"
          {% if asset and asset.status == value %}selected{% endif %}>
          {{ label }}
        </option>
      {% endfor %}
    </select>
<br>
<br>
    <label>Checked Out To</label>
    <select name="assigned_to">
      <option value="">Not Assigned</option>
      {% for user in users %}
        <option value="{{ user.id }}"
          {% if asset.assigned_to and asset.assigned_to.id == user.id %}selected{% endif %}>
          {{ user.name }}
        </option>
      {% endfor %}
    </select>
<br><br>
    <label>Location</label>
    <input type="text" name="location" value="{{ asset.location|default:'' }}">
<br><br>
    <label>Purchase Cost</label>
    <input type="number" step="0.01" name="purchase_cost"
           value="{{ asset.purchase_cost|default:'' }}">
<br><br>
    <label>Image</label>
    <input type="file" name="image">
<br>
<br>
    <div class="form-actions">
      <button type="submit" class="btn btn-add">Save</button>
      <a href="{% url 'asset_list' %}" class="btn btn-cancel">Cancel</a>
    </div>
  </form>
</div>

{% endblock %}
